<!DOCTYPE html>
  <html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
    .comments {
    margin-top: 10px;
    padding-left: 20px;
    }

    .comment {
    border-left: 3px solid #2a7;
    margin-bottom: 8px;
    padding-left: 10px;
    font-style: italic;
    }
    </style>
  </head>
  <body class="container mt-10px">
     <a class="btn btn-primary btn-sm" th:href="@{/product}">quay lại</a>
     <h1>Product Detail</h1>
     <p th:text="'Tên sản phẩm: ' + ${product.name}"></p>
      <p th:text="'Đơn giá: ' + ${product.price}"></p>
      <p th:text="'Tình trạng: ' + (${product.inStock} ? 'còn hàng' : 'hết hàng')"></p>


      <p th:text="'Danh mục: ' + ${product.category.name}"></p>

      <form th:action="@{'/comment/add/' + ${product.id}}" method="post">
          <input type="text" name="text" placeholder="Viết comment..." required/>
          <button type="submit">Gửi</button>
      </form>

     <div class="comments" th:if="${!#lists.isEmpty(product.comments)}">
         <h3>Comments:</h3>
         <div th:each="c : ${product.comments}" class="comment">
             <span th:text="${c.text}">Comment Content</span>
             <a th:href="@{'/comment/delete/' + ${c.id} + '/' + ${product.id}}">Xóa</a>
         </div>
     </div>


  </body>
</html>